<launch>
 <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" value="false"/>
  <arg name="verbose" value="true"/>
  <arg name="world_name" default="$(find sjtu_drone)/worlds/search_and_rescue.world"/>

  <!-- launch the custom world -->
   <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="paused" value="$(arg paused)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="verbose" value="$(arg verbose)"/>
   </include>

   <!-- send robot urdf to param server -->
  <param name="robot_description" command="cat '$(find sjtu_drone)/urdf/sjtu_drone.urdf'" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model sjtu_drone -x 0 -y 0 -z 0"
    respawn="false" output="screen" />
</launch>
